<!-- <div class="bg-blue-800 h-16 w-autopx-3 py-2 mat-elevation-z8"> </div> -->

<!-- <div class=" bg-blue-100 h-[31rem] flex">
    <div class="timesheet-header w-3/4 bg-red-500 h-auto">

    </div>
    <div class="timesheet-body w-1/4 bg-green-500 h-auto">

    </div>
</div> -->

<div class="h-[32rem]">
    <div class="timesheet-header h-28 w-full bg-blue-700 flex ">
        <div class="bg-white font-bold employee-container text-base w-1/6 h-30 border-2 flex justify-center items-center">
            Employee 
        </div>
        <div class="w-5/6 ">
            <div class="text-base  h-10 text-white flex justify-center items-center gap-5">
                <button class=" hover:text-blue-900"  (click)="loadPreviousWeek()"><i class="fa fa-chevron-left" aria-hidden="true"></i>
                </button>
               <span class="font-bold">
                {{firstDayOfActiveWeek().monthShort}}, {{firstDayOfActiveWeek().year}}
               </span>
               <button class=" hover:text-blue-900"  (click)="todayDate()">Today
               </button>
               <button class=" hover:text-blue-900"  (click)="loadNextWeek()"><i class="fa fa-chevron-right" aria-hidden="true"></i>
               </button>
           </div>


           <div class="text-base h-12 bg-blue-600 text-white flex justify-between items-center">
            
             @for (item of currentWeekDays(); track $index; let last = $last) {
                <div class="border-r-2 border-gray-400  text-white w-1/6 flex flex-col h-full items-center hover:bg-blue-800" > 
                   <span>
                    {{item.toFormat('ccc')}}
                   </span>
                   <span>
                    {{item.toFormat('yyyy-MM-dd')}}
                   </span>
                </div>
             }
           </div>
           <div class="text-base h-6 bg-blue-500 text-white flex justify-between items-center">
            
            @for (item of currentWeekDays(); track $index; let last = $last) {
               <div class="border-r-2 border-gray-400 text-white w-1/6 flex h-full items-center justify-around" > 
                  <span>
                   In
                  </span>
                  <span>
                   Out
                  </span>
               </div>
            }
          </div>
        </div>
       
    </div>
    <div class="timesheet-body flex">

        <div class="employee-container w-1/6 h-[25rem]  flex flex-col text-black">
                @for (employee of timesheetsByEmp() | keyvalue; track $index;) {
                    <div  class="h-12 flex justify-center items-center border-b-2 border-r-2 border-l-2">
                        <h3>{{ employee.key }}</h3>
                    </div>
                 }
        </div>
        <div class="w-5/6">

            @for (employee of timesheetsByEmp() | keyvalue; track $index;) { 
                <div class="text-base h-12  text-white flex justify-between items-center">
                @for (timesheet of employee.value; track timesheet.id;) {
                    <!-- [&:not(:last-child)]: -->
                    <div class="border-r-2 border-b-2 text-black w-1/6 flex h-full justify-around items-center"> 
                        <span>
                            <button disabled>{{ timesheet?.checkIn }}</button>   
                        </span>
                        <span>
                            <button disabled>{{ timesheet?.checkOut }}</button>
                        </span>
                     </div>

                }
            </div>
            }
           
        </div>
        
    </div>   
</div>