<!-- <div class="bg-blue-800 h-16 w-autopx-3 py-2 mat-elevation-z8"> </div> -->

<!-- <div class=" bg-blue-100 h-[31rem] flex">
    <div class="timesheet-header w-3/4 bg-red-500 h-auto">

    </div>
    <div class="timesheet-body w-1/4 bg-green-500 h-auto">

    </div>
</div> -->

<div class="h-[32rem] bg-yellow-600">
    <div class="timesheet-header h-21 w-full bg-blue-400 flex">
        <div class="employee-container text-base w-1/6 h-24 bg-green-600 text-white flex justify-center items-center">
            Employee
        </div>
        <div class="w-5/6">
            <div class="text-base  h-12 bg-green-600 text-white flex justify-center items-center gap-5">
                <button class=" hover:text-blue-600"  (click)="loadPreviousWeek()"><i class="fa fa-chevron-left" aria-hidden="true"></i>
                </button>
               <span>
                {{firstDayOfActiveWeek().monthShort}}, {{firstDayOfActiveWeek().year}}
               </span>
               <button class=" hover:text-blue-600"  (click)="todayDate()">Today
               </button>
               <button class=" hover:text-blue-600"  (click)="loadNextWeek()"><i class="fa fa-chevron-right" aria-hidden="true"></i>
               </button>
           </div>
           <div class="text-base h-12 bg-red-500 text-white flex justify-between items-center">
            
             @for (item of currentWeekDays(); track $index; let last = $last) {
                <div class="[&:not(:last-child)]:border-r-2 border-black text-white w-1/6 flex flex-col h-full items-center" ngClass="''"> 
                   <span>
                    {{item.toFormat('ccc')}}
                   </span>
                   <span>
                    {{item.toFormat('yyyy-MM-dd')}}
                   </span>
                </div>
             }
           </div>
        </div>
       
    </div>
    <div class="timesheet-body flex">

        <!-- @for (employee of groupedTimesheetsByEmployee() | keyvalue; track $index;) {
            <div>
                <div class="w-1/6 h-[26rem] bg-red-600 flex">
                    <h3>{{ employee.key }}</h3>
                </div>
                <div class="w-5/6">
                    <ul>
                        @for (timesheet of employee.value; track timesheet.id;) {
                        <li>
                            Date: {{ timesheet?.date }} - Check-in: {{ timesheet.checkIn }} - Check-out: {{ timesheet.checkOut }}
                        </li>
                        }
                    </ul>
                </div>
            </div>
        } -->




        <div class="employee-container w-1/6 h-[26rem] bg-red-600 flex">
            <div>
                @for (employee of timesheetsByEmp() | keyvalue; track $index;) {
                    <div>
                        <h3>{{ employee.key }}</h3>
                    </div>
                 }
            </div>
        </div>
        <div class="w-5/6">

            @for (employee of timesheetsByEmp() | keyvalue; track $index;) { 
                <div class="text-base h-12 bg-red-500 text-white flex justify-between items-center">
                @for (timesheet of employee.value; track timesheet.id;) { 
                    <span>
            
                        <span class=" border-black text-white"> 
                           <span>
                            {{employee.key}}
                            {{timesheet.date}}
                            {{ timesheet?.checkIn }}
                           </span>
                           <span>
                             {{timesheet?.checkOut}}
                           </span>
                        </span>
                     
                   </span>
                }
            </div>
            }
           
        </div>
        
    </div>   
</div>